
img {
    height: 50px;
    width: 50px;
}

button {
    border-radius: 50%;
}

.day{
    display:inline;
}

.button-name{
    margin:0px auto;
}

.title{
    text-align:center;
    font-size: 25px;
    font-weight:bold;
}

.main-block{
    float: none;
    margin: 0 auto;

}